* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
}

html {
  --main-color: rgb(143, 117, 79);
  --secondary-color: rgb(255, 255, 255);
  --third-color: rgba(255, 255, 255, 0.2);
  --fourth-color: rgba(255, 255, 255, 0.5);
  --main-padding: 50px;
  --text-color: rgb(102, 102, 102);
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Container */
@media (width < 576px) {
  .container {
    width: 100%;
  }
}
@media (width >= 576px) {
  .container {
    width: 540px;
  }
}
@media (width >= 768px) {
  .container {
    width: 720px;
  }
}
@media (width >= 992px) {
  .container {
    width: 960px;
  }
}
@media (width >= 1200px) {
  .container {
    width: 1140px;
  }
}
@media (width >= 1400px) {
  .container {
    width: 1320px;
  }
}

.container {
  margin: 0 auto;
}

img {
  position: relative; /* Make images positioned relative */
  z-index: 2; /* Set a higher z-index than the header shadow */
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 0.5px solid var(--third-color);
  z-index: 100;
  width: 100%;
  transition: background-color 0.3s;
}

header .header-content {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  position: relative;
}

header.scrolled {
  background-color: white;
}

header .logo {
  width: 200px;
}

header .logo img {
  width: 100%;
}

header.scrolled #logo-image {
  content: url("../imgs/bakery-color.png");
}

header #main-nav {
  display: flex;
}

header ul li {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li a {
  color: var(--secondary-color);
  font-size: 13px;
  font-weight: 600;
}

header.scrolled ul li a {
  color: black;
}

header ul li a.active {
  color: var(--main-color);
}

header ul li a:hover,
header #main-nav.show li a:hover {
  color: var(--main-color);
}

header #main-nav.show {
  display: block;
  position: fixed;
  background-color: var(--secondary-color);
  width: 100%;
  left: 0;
  top: 118px;
  z-index: 99;
}

header #main-nav.show li {
  display: block;
  padding: 10px;
}

header #main-nav.show li a {
  color: black;
}

header #main-nav.show li a.active {
  color: var(--main-color);
}
header .bar-button {
  background: transparent;
  border: 1px solid var(--third-color);
  cursor: pointer;
  font-size: 30px;
  border-radius: 5px;
  padding: 5px 10px;
  color: var(--fourth-color);
  display: none;
}

header.scrolled .bar-button {
  border-color: #737373;
  color: #737373;
}

header .bar-button:focus {
  border-width: 5px;
}

@media (max-width: 991px) {
  header #main-nav {
    display: none;
  }
  header .bar-button {
    display: block;
  }
}

/* Header Shadow */
.header-shadow {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 118px;
  left: 0;
  background-color: #f9f9f9;
  opacity: 0.2;
  z-index: 0;
}

/* demo-panel-menu */
.demo-panel-menu {
  position: fixed;
  z-index: 90;
  top: 30%;
  right: 0;
  background-color: #f8f8f8;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.demo-panel-menu .demo-1,
.demo-panel-menu .demo-2 {
  width: 30px;
  position: relative;
}
.demo-panel-menu .demo-1 span,
.demo-panel-menu .demo-2 span {
  position: absolute;
  top: 0;
  right: 50px;
  padding: 5px;
  background-color: #1f62c5;
  color: white;
  border-radius: 3px;
  font-weight: 500;
  display: none;
}

.demo-panel-menu .demo-1 span {
  width: 108px;
}

.demo-panel-menu .demo-2 span {
  width: 120px;
}

.demo-panel-menu .demo-1:hover span,
.demo-panel-menu .demo-2:hover span {
  display: block;
}

.demo-panel-menu img {
  width: 100%;
}

/* Main Section */
.main-section {
  height: 100vh;
  background-image: url("../imgs/drew-coffman-1872.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.main-section .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 70%;
}

.main-section .text p {
  font-size: 28px;
  font-weight: 400;
  color: var(--fourth-color);
}

.main-section .text h1 {
  font-size: 80px;
  font-family: "Alegreya", serif;
  font-weight: 600;
  color: var(--secondary-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.main-section .text ul {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.main-section .text ul li {
  margin-left: 8px;
}

.main-section .text ul button {
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

.main-section .text ul .first-button {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.main-section .text ul .first-button:hover {
  background-color: var(--secondary-color);
  color: black;
}

.main-section .text ul .second-button {
  background-color: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.main-section .text ul .second-button:hover {
  background-color: var(--secondary-color);
  color: black;
}

/* About section */
.about .about-content,
.our-offer .our-offer-content,
.contact .contact-content {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  display: flex;
}

.about .about-content .text,
.our-offer .our-offer-content .text,
.contact .contact-content .text {
  width: 50%;
}

.about .about-content .image,
.our-offer .our-offer-content .image,
.contact .contact-content .map {
  flex: 1;
}

.about .about-content .image img,
.our-offer .our-offer-content .image img,
.contact .contact-content .map iframe {
  width: 100%;
}

.about .about-content .text,
.our-offer .our-offer-content .text,
.contact .contact-content .text {
  padding: 30px;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-content: center;
}

.about .about-content .text h2,
.our-offer .our-offer-content .text h2,
.contact .contact-content .text h2 {
  font-weight: 500;
  font-size: 40px;
  color: black;
  margin-bottom: 30px;
}

.about .about-content .text p,
.our-offer .our-offer-content .text p,
.contact .contact-content .text p {
  line-height: 1.8;
}

.about .about-content .text ul li,
.contact .contact-content .text ul li {
  margin-top: 20px;
  display: flex;
}

.about .about-content .text ul li i,
.contact .contact-content .text ul li i {
  color: var(--main-color);
  font-size: 32px;
  width: 50px;
}

/* Our Offer */
.our-offer,
.contact {
  background-color: #f8f9fa;
}

/* Contact Section */

/* Gallery */
.gallery-content {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  text-align: center;
}

.gallery-content h2 {
  font-family: "Alegreya", serif;
  font-weight: 500;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.gallery-items {
  display: flex;
  justify-content: space-between;
}

.gallery-items .gallery-item {
  width: 32%;
}
.gallery-items .gallery-item .image img {
  width: 100%;
}

.gallery-items .gallery-item .text h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Alegreya", serif;
  font-weight: 500;
  font-size: 24px;
  color: var(--text-color);
}

.gallery-items .gallery-item .text p {
  color: var(--text-color);
  line-height: 1.8;
}

/* Info */
.info {
  background-color: #403d38;
}

/* Footer */
.info .info-content,
footer .footer-content {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}

.info .info-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info .info-content > div {
  width: 23%;
  padding: 10px;
}

.info .info-content > div h3 {
  font-family: "Alegreya", "serif";
  font-weight: 500;
  font-size: 24px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.info .info-content > div p,
.info .info-content > div ul li,
.info .info-content > div ul a {
  color: var(--fourth-color);
  line-height: 1.8;
}

.info .info-content > div ul li {
  border-bottom: 1px solid var(--fourth-color);
  padding: 10px;
}

.info .info-content > div ul li i {
  width: 25px;
}

.info .info-content .contact {
  background-color: #403d38;
}

.info .info-content .contact li {
  border: none;
}

.info .info-content .contact i {
  font-size: 32px;
  width: 40px;
}

footer {
  background-color: #353330;
}

footer .footer-content {
  text-align: center;
}

footer .footer-content p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--fourth-color);
}

footer .footer-content ul {
  display: flex;
  width: 200px;
  margin: 0 auto;
  justify-content: space-between;
}

footer .footer-content ul li {
  width: 50px;
  font-weight: 500;
  font-size: 32px;
}
footer .footer-content ul li i {
  transition: 0.3s;
  color: #8f754f;
}

footer .footer-content ul .fa-facebook:hover {
  color: #4267b2;
}

footer .footer-content ul .fa-google-plus:hover {
  color: #db4a39;
}

footer .footer-content ul .fa-linkedin:hover {
  color: #0072b1;
}

footer .footer-content ul .fa-twitter:hover {
  color: #00acee;
}

/* Responsive for all devices */

@media (max-width: 991px) {
  .main-section .text h1 {
    font-size: 71px;
  }
  .about .about-content .text h2 {
    font-size: 39px;
  }
  .gallery-items .gallery-item .text h3 {
    font-size: 23px;
  }
  .info .info-content > div {
    width: 46%;
  }
  .info .info-content > div h3 {
    margin-top: 30px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .main-section .text {
    width: 80%;
  }
  .main-section .text h1 {
    font-size: 68px;
  }
  .main-section .text p {
    font-size: 23px;
  }
  .about .about-content,
  .our-offer .our-offer-content,
  .contact .contact-content {
    flex-direction: column;
    padding: var(--main-padding) 10px;
  }
  .about .about-content .text,
  .our-offer .our-offer-content .text,
  .contact .contact-content .text {
    width: 100%;
  }
  .about .about-content .text,
  .our-offer .our-offer-content .text,
  .contact .contact-content .text {
    padding: 0px;
  }
  .about .about-content .text h2,
  .our-offer .our-offer-content .text h2,
  .contact .contact-content .text h2 {
    font-size: 36px;
  }
  .about .about-content .text h2,
  .our-offer .our-offer-content .image,
  .contact .contact-content .text h2 {
    margin-top: 30px;
  }
  .contact .contact-content .map {
    margin-top: 20px;
  }

  .gallery-items {
    flex-direction: column;
    padding: 10px;
  }
  .gallery-items .gallery-item {
    width: 100%;
  }
  .gallery-items .gallery-item .text h3 {
    font-size: 22px;
  }
}

@media (max-width: 575px) {
  .main-section .text {
    width: 100%;
  }
  .main-section .text h1 {
    font-size: 49px;
  }
  .main-section .text p {
    font-size: 22px;
  }
  .about .about-content .text h2,
  .our-offer .our-offer-content .text h2,
  .contact .contact-content .text h2 {
    font-size: 32px;
  }
  .info .info-content > div {
    width: 98%;
  }
}
